html{
    font-family: 'Indie Flower', cursive;
    background-color: #F2E9DE;
    color: #393552;
}


h1{
    text-align: center;
}



.betternotes li{
    list-style-type: none;
    display: inline;
    float: right;
    padding: 1em;
    font-size: 20px;
}